BACKEND_DOMAIN=http://localhost:8000
CORS_ALLOWED_ORIGINS=http://localhost:8000
DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/yourdatabase
DEFAULT_FROM_EMAIL=test@gmail.com
DJANGO_ALLOWED_HOSTS=localhost
DJANGO_DEBUG=True
DJANGO_ENVIRONMENT=development
DJANGO_SECRET_KEY=your-secret-key
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_PASSWORD=your-email-password
EMAIL_HOST_USER=your-email-address
EMAIL_PORT=587
EMAIL_USE_TLS=True
REDIS_DB=0
REDIS_HOST=localhost
REDIS_PASSWORD=your-redis-password
REDIS_PORT=6379
REDIS_URL=redis://default:your-redis-password@localhost:6379
OTP_EXPIRY_MINUTES=10