<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password</title>
</head>
<body>
    <h2>Hello from Hapztext!</h2>
    <p>Hi {{ email }},</p>
    <p>Your OTP code is <strong>{{ otp_code }}</strong></p>
    <p>This code will expire in {{ expiry_minutes }} minutes.</p>
    <br>
    <p>If you did not request a reset for your account password with Hapztext, please ignore this email.</p>
</body>
</html>